<form>

</form><div>
  <label for="inputCity1">Choose your Departure:</label>
  <select name="departure" class="form-control tm-select" id="inputCity1">
    <option value="Tirane" selected>Tirane</option>
    <option value="Pogradec">Pogradec</option>
    <option value="Sarande">Sarande</option>
    <option value="Vlore">Vlore</option>
    <option value="Berat">Berat</option>

  </select>
</div>


<div>
  <label for="inputCity2">Choose your Destination:</label>
  <select name="destination" class="form-control tm-select" id="inputCity2">
    <option value="Tirane">Tirane</option>
    <option value="Pogradec" selected>Pogradec</option>
    <option value="Sarande">Sarande</option>
    <option value="Vlore">Vlore</option>
    <option value="Berat">Berat</option>
  </select>
</div>

<div>
  <label for="inputTimeline">Choose the timeline of departure:</label>
  <select name="timeline" class="form-control tm-select" id="inputTimeline">
    <option value="9:00" selected>9:00</option>
    <option value="11:00">11:00</option>
    <option value="13:00">13:00</option>
    <option value="15:00">15:00</option>
    <option value="17:00">17:00</option>
  </select>
</div>

<div>
  <label for="inputSeats">How many seats?</label>
  <select name="seats" class="form-control tm-select" id="inputSeats">
    <option value="1" selected>1 Seat</option>
    <option value="2">2 Seats</option>
    <option value="3">3 Seats</option>
    <option value="4">4 Seats</option>
    <option value="5">5 Seats</option>
    <option value="6">6 Seats</option>
  </select>
</div>

<br><br>

<input type="submit" value="Book">



